<div class="login-container">
    <div class="login-form">
        <h1>App de Películas</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="username">User</label>
                <input formControlName="email" type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" id="password" name="password" required>
            </div>
            <button *ngIf="isLoading" disabled class="btn">Loading...</button>
            <button *ngIf="!isLoading" type="submit" class="btn">Login</button>
        </form>
        <p class="signup-text">Don't have an account? <a routerLink="/Register">Register here</a></p>
    </div>

    <app-modal 
        [type]="SvcGlobal.type"
        [showModal]="SvcGlobal.isErrorModalVisible" 
        [message]="SvcGlobal.currentErrorMessage" 
        (close)="SvcGlobal.onModalClose()">
    </app-modal>
</div>
