<div class="containerr">
  <div class="register-box">
    <h2>Register user</h2>
    <form [formGroup]="registerForm">
      <div class="form-row">
        <div class="input-group">
          <input formControlName="name" type="text" id="username" required>
          <label for="username">Name</label>
        </div>

        <div class="input-group">
          <input formControlName="last_name" type="text" id="lastname" required>
          <label for="lastname">Last name</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-group">
          <input formControlName="email" type="email" id="email" required>
          <label for="email">Email</label>
        </div>

        <div class="input-group">
          <input formControlName="password" type="password" id="password" required>
          <label for="password">Password</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-group">
          <input formControlName="confirmPassword" type="password" id="confirm-password" required>
          <label for="confirm-password">Confirm password</label>
        </div>
      </div>

      <button *ngIf="isLoading" disabled class="btn">Loading...</button>
      <button *ngIf="!isLoading" type="button" class="btn" (click)="onSubmit()">Register</button>
    </form>
    <p class="signup-text">Do you already have an account? <a routerLink="/">Login here</a></p>
  </div>
</div>

<app-modal 
[type]="SvcGlobal.type"
[showModal]="SvcGlobal.isErrorModalVisible" 
[message]="SvcGlobal.currentErrorMessage" 
(close)="SvcGlobal.onModalClose()">
</app-modal>
