
<div class="main-content">
    <app-sidebar></app-sidebar>    
  
    <div class="content">
        <app-navbar></app-navbar>
  
        <div class="header-content">
            <h1 class="page-title">Purchase History</h1>
        </div>
  
        <div class="body-content">

            <div class="card-container" *ngFor="let item of history | filter: SvcGlobal.searchText">
                <div class="card">
                    <div class="card-image">
                        <img [src]="'https://image.tmdb.org/t/p/w300' + item.poster_Path" alt="Product Image">
                    </div>
                    <div class="card-details">
                        <h3>Title: <span>{{item.title}}</span></h3>
                        <p>Date of shopping: <strong>{{item.date_Created}}</strong></p>
                        <p>Price: <strong>${{item.total}}</strong></p>
                        <p>Status: <span class="status success">Delivered</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-primary">
                            <i class="fas fa-truck"></i> View Shipping Details
                        </button>
                        <button class="btn btn-secondary">
                            <i class="fas fa-redo"></i> Reorder
                        </button>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
  </div>
  