

* {
    font-family: 'Poppins', sans-serif;
    /* background-color: #f4f4f9;
    color: #333; */
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
}

.content {
    margin-left: 250px; /* Deja espacio para el sidebar fijo */
    width: calc(100% - 250px);
    background-color: #f8f9fa;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto; /* El contenido es desplazable */
    padding: 20px;
}

.header-content {
    text-align: center;
    margin-bottom: 20px;
}

.page-title {
    margin-top: 15px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #34495e;
}

.page-description {
    font-size: 1.2rem;
    font-weight: 300;
    color: #7f8c8d;
    margin-bottom: 30px;
}

.body-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}


.cart-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cart-item-image img {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.cart-item-info {
    flex: 1;
}

.cart-item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #34495e;
    margin: 0;
    margin-bottom: 10px;
}

.cart-item-description {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 20px;
    line-height: 1.5;
}

.cart-item-buttons {
    display: flex;
    gap: 15px;
}

.btn-remove, .btn-buy {
    padding: 12px 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.btn-remove {
    background-color: #e74c3c;
    color: #fff;
    box-shadow: 0 4px 10px rgba(231, 76, 60, 0.3);
}

.btn-remove:hover {
    background-color: #c0392b;
    box-shadow: 0 6px 15px rgba(231, 76, 60, 0.5);
}

.btn-buy {
    background-color: #2ecc71;
    color: #fff;
    box-shadow: 0 4px 10px rgba(46, 204, 113, 0.3);
}

.btn-buy:hover {
    background-color: #27ae60;
    box-shadow: 0 6px 15px rgba(46, 204, 113, 0.5);
}

i {
    margin-left: 8px;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 0.3s ease;
    position: relative;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

h2 {
   
    margin-bottom: 10px;
    font-family: 'Outfit';

}

p {
    font-size: 1rem;
    color: #bdc3c7;
    font-family: 'Outfit';

}

.close-btn {
    color: #aaa;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

.close-btn:hover,
.close-btn:focus {
    color: #fff;
    text-decoration: none;

}

.btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.btns button {
    padding-right: 7px;
    padding-left: 7px;
}